.container{
    height: 100vh ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    flex-direction: column ;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(40,15,105,1) 39%, rgba(15,18,62,1) 66%, rgba(0,0,0,1) 100%, rgba(37,96,108,1) 100%); 
}

.title{
    font-size: 85px;
    color:white;
    animation: flipText 2s;
}

.containerInput{
    background-color: blueviolet;
    padding: 15px;
    margin: ;
    display: ;
    border-radius: ;
    box-shadow: ;

}

.containerInput input{

    background-color: ;
    border: ;
    font-size: ;
    color: ;
    outline: ;
    margin-right: ;
}

.containerInput input ::placeholder{
    color: white;
}

.buttonsearch{
    background-color: ;
    border: ;
    display: ;
    justify-content: ;
    align-items: ;
    cursor: ;
    transition: transform 0.5s;

}

.buttonsearch :hover{
    transform: scale(1.2);
}

.main{
    display: ;
    justify-content: ;
    align-items: ;
    flex-direction: ;
    background-color: ;
    width: ;
    border-radius: ;

}

.main span{
    margin-bottom: ;
    font-weight: ;
}

@keyframes flipText {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
    
}

